#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	cmake -S . -B build \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DNASMOUNT_PACKAGE_FAMILY=deb

override_dh_auto_build:
	cmake --build build --parallel

override_dh_auto_test:
	ctest --test-dir build --output-on-failure

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/tmp cmake --install build

override_dh_installchangelogs:
	dh_installchangelogs
	printf '%s\n' \
		/usr/share/doc/nasmount/changelog.Debian.gz \
		/usr/share/doc/nasmount/copyright \
		>> debian/nasmount/usr/share/nasmount/cleanup-manifest.txt

override_dh_compress:
	dh_compress -XLICENSE
